<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.InventoryMapper">
    <select id="queryWorkStep" resultType="me.zhengjie.service.dto.InventoryDto">
        select cInvCode, cInvName, cInvStd
        from ${table}
    </select>

    <select id="getInventoryByCode" resultType="me.zhengjie.service.dto.InventoryDto">
        select cInvCode, cInvName, cInvStd
        from ${table}
        where cInvCode = #{cInvCode}
    </select>
</mapper>
