<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.MachineMapper">

    <select id="getMachineOrigin"  resultType="me.zhengjie.domain.MachineOriginAction">
      SELECT
			*
	  FROM
	( SELECT ROW_NUMBER ( ) OVER ( ORDER BY deviceName, addTime ASC ) AS number, * FROM ${table} WHERE dayid = #{dayId} AND location = #{base} ) t1
      ORDER BY
	t1.number
    </select>

</mapper>