<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.mapper.Maintenance4CarItemMapper">

    <select id="queryAll" resultType="me.zhengjie.domain.Maintenance4CarItem">
        select * from ${table}
    </select>
</mapper>
